@font-face{
	font-family: keypunch;
	src:url(Keypunch029/Keypunch029.otf);
}

@font-face{
	font-family: plex;
	src:url(ibm-plex-mono-fonts/IBMPlexMono-Light.otf);
}

body{
	background-color: black;
	font-family: plex;
}

.drow{
	font-size: small;
}

.drow, .srow{
	width: 100%;
	text-align: center;
	display: block;
}

.matrix{
	display: inline-block;
	width: calc(100%/80);
	text-align: center;
	color: #BD492F;
	padding-top: 1%;
}

.textline{
	color: black !important;
	font-family: keypunch;
	font-size: 12pt;
	font-smooth: never;
}

.card{
	background-color: #F5E8B5;
	border-radius: 20px;
	padding: 2%;
	position: relative;
	display: inline-block;
	width: 80%;
	height: calc(80%*(83/187)); /* punchcard dimensions are 187x83mm */
	font-family: monospace;
}

/* css bullshit to make the illusion of a sharply cut top left corner */
.cutCorner:before {
	position:absolute; left:-1px; top:-1px; content:'';
	border-top: 70px solid black;
	border-right: 70px solid transparent;
}

.cutCorner:after {
	position:absolute; left:-2px; top:-2px; content:'';
	border-top: 70px solid black;
	border-right: 70px solid transparent;
}

#textbox, #render, #reset, #src{
	width: 50%;
	display: block;
	margin: 1% auto;
	text-align: center;
	padding: 0.5%;
}

#render, #reset{
	width: 30% !important;
}
